<p style="text-align: center;">Main component</p>

<div class="wrapper">
  <div class="container">
    <div class="column">Method 1
      <!-- <p>
        Example of interaction between components using input and output decorators.
      </p> -->
    </div>
    <div class="column">Method 2 (Using signal, since Angular 16)
      <!-- <p>
        Example of interaction between components using input and output decorators and signal.
      </p> -->
    </div>
    <div class="column">Method 3 (Using model, since Angular 17)
      <!-- <p>
        Example of interaction between components using model.
      </p> -->
    </div>
  </div>
</div>
