<p style="text-align: center;">Main component</p>

<div class="wrapper">
  <div class="container">
    <div class="column">
      <div class="content">
        <h2>Method 1</h2>
        <p>
          Example of interaction between components using input and output decorators.
        </p>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <h2>Method 2 (Using signal, since Angular 16)</h2>
        <p>
          Example of interaction between components using input and output decorators and signal.
        </p>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <h2>Method 3 (Using model, since Angular 17)</h2>
        <p>
          Example of interaction between components using model.
        </p>
      </div>
    </div>

  </div>
</div>
